@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.max-Width {
  max-inline-size: 1440px;
  margin: 0 auto;
  padding: 0;
  @media screen and (max-width: 768px) {
    max-inline-size: 100%;
    padding: 0 1.2rem;
  }
}
